<% posts.each do |pos| %>
  <div class="cards d-flex justify-content-center">
    <div class="card_body">
      <div class="card_customer_name d-flex">
        <%= link_to customer_path(pos.customer_id) do %>
          <p><%= image_tag pos.customer.get_image, size: "30x30" %></p>
          <h5><%= pos.customer.name %></h5>
        <% end %>
      </div>
      <div class="card_post_detail d-flex">
        <p>サ活日<%= pos.visit_date %></p>
        <p>セット数<%= pos.set_number %>回</p>
        <p>総時間<%= pos.total_time %>時間</p>
      </div>
    </div>
  </div>
<% end %>