<div class="active_record mt-3">
  <h4><u>サ活回数</u></h4>
  <table class="table table-bordered table-hover text-center">
    <tbody style="background-color: #FFFFFF">
      <tr>
        <td width="60%">直近１ヶ月</td>
        <td width="40%"><%= customer.post_actives.visited_this_month.count %> 回</td>
      </tr>
      <tr>
        <td>直近１年間</td>
        <td><%= customer.post_actives.visited_this_year.count %> 回</td>
      </tr>
      <tr>
        <td>トータル</td>
        <td><%= customer.post_actives.count %> 回</td>
      </tr>
    </tbody>
  </table>
  <h4><u>その他サ活記録</u></h4>
  <table class="table table-bordered table-hover text-center">
    <tbody style="background-color: #FFFFFF">
      <tr>
        <td>総セット数</td>
        <td><%= customer.post_actives.sum(:set_number) %> 回</td>
      </tr>
      <tr>
        <td>総時間</td>
        <td><%= customer.post_actives.sum(:total_time) %> 時間</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="active_record mt-3">
  <h4><u>よく行くサウナ施設</u></h4>
  <table class="table table-bordered table-light table-hover text-center">
    <tbody class="table-secondary">
      <tr>
      <th>施設名</th>
      <th>サ活回数</th>
    </tr>
    </tbody>
    <tbody>
      <% communities.each do |community| %>
      <tr>
        <td>
          <%= link_to admin_community_path(community) do %>
            <%= community.community_name %>
          <% end %>
        </td>
        <td><%= community.post_actives.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>