<div class="search_bar">
  <p>ワードで絞り込む</p>
  <%= form_with url: searches_search_community_path, method: :get, local: true do |f| %>
    <%= f.text_field :word, value: @word, placeholder:"検索", class: "search_box"%>
    <%= f.button :type => "submit", class: "search_button" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
<div class="search_tag">
  <%= form_with url: searches_search_area_path, method: :get, local:true do |f| %>
    <div class="form-group">
      <p>エリアで絞り込む</p>
      <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"area-select"}) %>
      <%= f.button :type => "submit", class: "search_button" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>