<div class="community_image col-3">
  <%= image_tag community.get_image, size: "280x250" %>
</div>
<div class="community_info col-5 ml-3">
  <table class="table align-middle">
    <tbody>
      <tr>
        <td width="30%"><i class="fa fa-solid fa-user"></i> 参加者数</td>
        <td width="70%"><%= community.customers.count %> 人</td>
      </tr>
      <tr>
        <td><i class="fa fa-solid fa-paste"></i> 投稿数</td>
        <td><%= community.post_actives.count %> 個</td>
      </tr>
      <tr>
        <td><i class="fa fas fa-map-marked-alt"></i> 住所</td>
        <td><%= community.address %></td>
      </tr>
      <tr>
        <td><i class="fa fas fa-phone"></i> 電話番号</td>
        <td>
          <% if community.phone_number.present? %>
            <%= community.phone_number %>
          <% else %>
            <b>---</b>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-solid fa-audio-description"></i> 説明</td>
        <td>
          <% if community.description.present? %>
            <%= community.description %>
          <% else %>
            <b>---</b>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="topbar_right col-4">
    <div id='map'></div>
    <style>
      #map {
        height: 220px;
        width: 350px;
      }
    </style>
    <script>
      let map
      function initMap(){
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= community.latitude %>, lng: <%= community.longitude %>},
            zoom: 15,
        });
          (function(){
          var contentString = "住所：<%= community.address %>";
            var marker = new google.maps.Marker({
                position:{lat: <%= community.latitude %>, lng: <%= community.longitude %>},
                map: map,
                title: contentString
            });
          })();
        }
    </script>
    <div class="community_button">
      <div class="edit_button">
        <% if community.owner_id == current_customer.id %>
          <%= link_to 'コミュニティの編集', edit_community_path(community), class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
      <div class="exit_button ml-3">
        <%= link_to 'コミュニティの退会', community_path(community), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>