<div class="container">
  <div class="row">
    <div class="text-error">
      <%= render 'layouts/errors', obj: @comment %>
    </div>
    <div class="title">
      <h3><%= @community.community_name %></h3>
      <span>（<%= @community.area.name %>）</span>
    </div>
    <div class="row">
      <div class="community_detail col-12">
        <%= render 'public/communities/topbar', community: @community %>
      </div>
      <div class="participant col-3">
        <%= render 'public/communities/sidebar', customers: @customers %>
        <%= link_to "<<戻る" ,community_path(@community) %>
      </div>
      <div class="post_show col-6">
        <h5><u>投稿詳細</u></h5>
        <div class="cards d-flex justify-content-center mb-3">
          <div class="card_post">
            <div class="row card_customer_name">
              <%= link_to customer_path(@post_active.customer_id), class: "customer_name" do %>
                <p><%= image_tag @post_active.customer.get_image, size: "30x30" %></p>
                <h5><%= @post_active.customer.name %></h5>
              <% end %>
              <p class="post_time">
                投稿日：<%= @post_active.created_at.strftime('%Y/%m/%d %R') %>
              </p>
            </div>
            <div class="card_post_detail">
              <table class="table table-sm align-middle col-12">
                <tbody>
                  <tr>
                    <td width="25%"><i class="fa fas fa-calendar-alt"></i> サ活日</td>
                    <td width="75%"><%= @post_active.visit_date.strftime('%Y/%m/%d') %></td>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fas fa-sort-amount-up"></i> セット数</td>
                    <td width="75%"><%= @post_active.set_number %>回</td>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fas fa-clock"></i> 総時間</td>
                    <td width="75%"><%= @post_active.total_time %>時間</td>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fas fa-user-edit"></i> 感想など</td>
                    <td width="75%"><%= @post_active.impression %></td>
                  </tr>
                </tbody>
              </table>
              <div class="card_post_under">
                <div class="card_post_button">
                  <div class="edit_button mr-3">
                  <% if @post_active.customer_id == current_customer.id %>
                    <%= link_to '編集する', edit_post_active_path(@post_active), class: "btn-sm btn-success" %>
                  <% end %>
                  </div>
                  <div class="delete_button">
                  <% if @post_active.customer_id == current_customer.id %>
                    <%= link_to '削除する', post_active_path(@post_active), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
                  <% end %>
                  </div>
                </div>
                <p class="mr-3">
                  <% if @post_active.favorited_by?(current_customer) %>
                    <%= link_to post_active_favorites_path(@post_active), method: :delete, class: "heart_red" do %>
                      ♥
                    <% end %>
                    <%= @post_active.favorites.count %> いいね
                  <% else %>
                    <%= link_to post_active_favorites_path(@post_active), method: :post do %>
                      ♡
                    <% end %>
                    <%= @post_active.favorites.count %> いいね
                  <% end %>
                </p>
                <p><i class="fa fas fa-comments"></i> <%= @post_active.comments.count %> コメント</p>
              </div>
            </div>
          </div>
        </div>
        <% if @post_active.comments.exists? %>
          <div class="comment_index">
          <h5 class="mt-2"><u>コメント一覧</u></h5>
            <% @comments.each do |comment| %>
              <div class="cards d-flex justify-content-center">
                <div class="card_comment">
                  <div class="row card_comment_name">
                    <%= link_to customer_path(@post_active.customer_id), class: "customer_name" do %>
                      <p><%= image_tag @post_active.customer.get_image, size: "25x25" %></p>
                      <h6><%= @post_active.customer.name %></h6>
                    <% end %>
                  </div>
                  <div class="comment_body">
                    <p><%= comment.comment %></p>
                  </div>
                  <div class="delete_button">
                    <% if @post_active.customer_id == current_customer.id %>
                      <%= link_to '削除する', post_active_comment_path(comment.post_active,comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="post_form col-3">
        <h5><u>コメントの投稿</u></h5>
        <%= form_with model: [@post_active, @comment] do |f| %>
          <div class="form-group col-12">
            <%= f.text_area :comment, placeholder: "コメントをここに", class: 'form-control', rows: '5' %>
            <%= f.submit "送信する", class: 'btn btn-success mt-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
