<div class="container">
  <div class="row">
    <div id="comments-error" class="text-error">
      <%= render 'layouts/errors', obj: @comment %>
    </div>
  </div>
  <div class="row">
    <div class="title">
      <h3><%= @post_active.community.community_name %></h3>
      <span>（<%= @post_active.community.area.name %>）</span>
    </div>
    <div class="row">
      <div class="community_detail col-12">
        <%= render 'public/communities/topbar', community: @post_active.community %>
      </div>
      <div class="participant col-3">
        <%= render 'public/communities/sidebar', customers: @customers %>
        <%= paginate @customers %>
        <%= link_to "<<戻る" ,community_path(@post_active.community) %>
      </div>
      <div class="post_show col-6">
        <h4><u>投稿詳細</u></h4>
        <div class="cards d-flex justify-content-center mb-3">
          <div class="card_post">
            <div class="row card_customer_name">
              <%= link_to customer_path(@post_active.customer_id), class: "customer_name" do %>
                <p><%= image_tag @post_active.customer.get_image, size: "30x30" %></p>
                <h5><%= @post_active.customer.name %></h5>
              <% end %>
              <p class="post_time">
                投稿日：<%= @post_active.created_at.strftime('%Y/%m/%d %R') %>
              </p>
            </div>
            <div class="card_post_detail">
              <table class="table table-sm align-middle col-12">
                <tbody>
                  <tr>
                    <td width="25%"><i class="fa fas fa-calendar-alt"></i> サ活日</td>
                    <td width="75%"><%= @post_active.visit_date.strftime('%Y/%m/%d') %></td>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fas fa-sort-amount-up"></i> セット数</td>
                    <td width="75%"><%= @post_active.set_number %>回</td>
                  </tr>
                  <tr>
                    <td width="25%"><i class="fa fas fa-clock"></i> 総時間</td>
                    <td width="75%"><%= @post_active.total_time %>時間</td>
                  </tr>
                  <tr>
                    <% if @post_active.impression.present? %>
                      <td width="25%"><i class="fa fas fa-user-edit"></i> 感想など</td>
                      <td width="75%"><%= @post_active.impression %></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
              <div class="card_post_under">
                <div class="card_post_button">
                  <div class="edit_button mr-3">
                  <% if @post_active.customer_id == current_customer.id %>
                    <%= link_to '編集する', edit_post_active_path(@post_active), class: "btn-sm btn-success" %>
                  <% end %>
                  </div>
                  <div class="delete_button">
                  <% if @post_active.customer_id == current_customer.id %>
                    <%= link_to '削除する', post_active_path(@post_active), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
                  <% end %>
                  </div>
                </div>
                <p id="favorite_buttons_<%= @post_active.id %>" class="mr-3">
                  <%= render 'public/favorites/favorite', post_active: @post_active %>
                </p>
                <p><i class="fa fas fa-comments"></i> <%= @post_active.comments.count %> コメント</p>
              </div>
            </div>
          </div>
        </div>
        <div id="comments_area" class="comment_index">
          <% if @post_active.comments.exists? %>
            <%= render 'public/comments/comment_index', comments: @comments %>
            <%= paginate @comments %>
          <% else %>
            <h4 class="mt-2"><u>コメント一覧</u></h4>
            <p>コメントはありません</p>
          <% end %>
        </div>
      </div>
      <div class="post_comment_form col-3">
        <h4><u>コメントの投稿</u></h4>
        <%= render 'public/comments/form', post_active: @post_active, comment: @comment %>
      </div>
    </div>
  </div>
</div>
