<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light p-2" style="background-color:#CCFFFF;" >
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class= 'top_logo'>
          <%= image_tag('totonoimashita_logo.png', size: '80x80') %>
        </div>
      </a>
        <div class="login_customer_disp_name">
          <b class='custo'>
            ようこそ、<%= current_customer.name %>さん！</br>
            今日も整って行きましょう！！
          </b>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to communities_path, class: 'nav-link heaedr-link' do %>
              <b class="header_text">コミュニティを探す</b>
            <% end %>
          </li>
          <li>
            <%= link_to registration_communities_path, class: 'nav-link heaedr-link' do %>
              <b class="header_text">マイコミュニティ</b>
            <% end %>
          </li>
          <li>
            <%= link_to customer_path(current_customer), class: 'nav-link heaedr-link' do %>
              <b class="header_text">マイページ</b>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link heaedr-link' do %>
              <b class="header_text">ログアウト</b>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>